* {
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
}
canvas{
    box-shadow:0 0 2px red;
}

#options{
    position:absolute;
    top:10px;
    left:10px;
    background:#fff;
    padding:10px;
    border:1px solid #555;
}

#options input{
    margin-right:5px;
}
